  <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
<aside class="main-sidebar sidebar-dark-primary elevation-4" style="background-color: purple;">
    <!-- Brand Logo -->
    <a href="#" class="sidebar">
      <img class="mt-3" src="~/Images/chisco_logo.png" alt="chisco Logo" class="brand-image">
    </a>

    <!-- Sidebar -->
    <div class="sidebar mt-5"> 
      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column"  data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
                <li class="nav-item">
                    <a asp-controller="Home" asp-action="CreateShipments" class="nav-link">
                        <i class='fas fa-clipboard-list pr-3' style='font-size:14px; color:black;'></i>
                        <p class="MainNavigation">
                            Create Shipment(s)
                        </p>
                    </a>
                </li>
            <li class="nav-item">
                    <a asp-controller="Home" asp-action="SalesReport" class="nav-link">
                <i class='fas fa-clipboard-list pr-3' style='font-size:14px; color:black;'></i>
              <p class="MainNavigation">
                Sales Report
              </p>
            </a>
          </li>
            <li class="nav-item">
                    <a asp-controller="Home" asp-action="FleetReport" class="nav-link">
                <i class='fas fa-history pr-3' style='font-size:14px; color:black;'></i>
              <p class="MainNavigation">
                Fleet Report
              </p>
            </a>
          </li>
            <li class="nav-item">
                    <a asp-controller="Home" asp-action="FindShipment" class="nav-link">
                <i class='fas fa-wallet pr-3' style='font-size:14px; color:black;'></i>
              <p class="MainNavigation">
                Find Shipments
              </p>
            </a>
          </li>
            <li class="nav-item">
                    <a asp-controller="Home" asp-action="Users" class="nav-link">
                  <i class='fas fa-user-circle pr-3' style='font-size:14px; color:black;'></i>
              <p class="MainNavigation">
                Users
              </p>
            </a>
          </li>
          <hr />
            <li class="nav-item">
            <a asp-controller="Home" asp-action="Index" class="nav-link">
             <i class='fas fa-arrow-alt-circle-left pr-3' style='font-size:14px; color:black;'></i>
              <p class="MainNavigation">
                Log Out
              </p>
            </a>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>