@{
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}

<h3>Create Shipments</h3>
<a href="c:\users\sylva\onedrive\documents\october pull\chisco_repo\frontend\chisco.web\views\home\createshipments.cshtml">c:\users\sylva\onedrive\documents\october pull\chisco_repo\frontend\chisco.web\views\home\createshipments.cshtml</a>